* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background: #161616e3;
    padding: 40px 20px;
}

.container {
    max-width: 1300px;
    margin: auto;
}

h1 {
    color: white;
    text-align: center;
    margin-bottom: 30px;
    text-shadow:  0 0 10px #7fccff; 
}

.form {
    background: #c0c0c0;
    padding: 20px;
    border: 1px solid #7fccff;
    box-shadow: 0 0 10px #7fccff;
    border-radius: 12px;
    display: flex;
    gap: 10px;
    margin-bottom: 30px;
}

.form input {
    flex: 1;
    padding: 12px;
    border: 1px solid #e6e4e4;
    border-radius: 8px;
    outline: none;
}

.form button {
    padding: 12px 20px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    background: #161616e3;
    color: white;
}

#expenseContainer {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.expenseCard {
    background: #cccccc;
    box-shadow: 0 0 10px #7fccff;
    padding: 25px 20px;
    border-radius: 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.expenseInfo {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

.expenseInfo p {
    width: 100%;
    text-align: center;
    background-color: white;
    border: 1px solid #e6e4e4;
    border-radius: 12px;
    padding: 14px 10px;
    font-size: 16px;
    font-weight: 700;
    margin: 4px 0;
}

.removeBtn {
    width: 100%;
    background: #ee2233;
    color: white;
    border: none;
    padding: 12px 15px;
    border-radius: 7px;
    font-size: 15px;
    font-weight: 600;
    cursor: pointer;
}

.removeBtn:hover {
    opacity: 0.9;
}

@media (max-width: 970px) {

    .form {
        flex-direction: column;
    }

    .expenseInfo {
        display: flex;
        flex-direction: column;
        gap: 5px;
    }

    .expenseCard {
        align-items: flex-start;
        gap: 10px;
    }

}